body{
    font-family: sans-serif;
    text-align: center;
    background-color: #EEE;
    padding-bottom: 50px;
}
table{
    width: 80%;
    text-align: left;
    margin: auto;
}
td{
    padding: 0 20px;
    box-sizing: border-box;
}
input[type='text']{
    width: 100%;
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid #CCC;
}
input[type='submit']{
    background-color: #4caf50;
    margin-bottom: 10px;
    font-size: 25px;
    border-radius: 5px;
    color: #222;
    border: 2px solid #1b5e20;
    padding: 10px 25px;
    cursor: pointer;
}
input[type='submit']:hover{
    opacity: 0.7;
}
a{
    font-size: 13px;
    color: #0069cc;
}