@import url('https://fonts.googleapis.com/css?family=Montserrat:300,300i,400,400i,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,500,600,700&display=swap');
html, body{
	width: 100%;
	height: 100%;
	min-width: 320px;
	margin: 0;
	font-size: 16px;
	background-color: #222;
	color: #FFF;
	font-family: Open Sans, Montserrat, sans-serif;
	background-image: url("pattern1.png");
}
h1{
	text-align: center;
	font-size: 30px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 10px 0;
}
h1.margintop, h2.margintop{
	margin-top: 20px;
}
h1.marginbottom, h2.marginbottom{
	margin-bottom: 20px;
}
h2{
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	line-height: 1;
	margin: 0 0 10px 0;
}
a{
	color: inherit;
}
p.center{
	text-align: center;
}
input, select, select option, textarea, button{
	font-family: Open Sans, Montserrat, sans-serif;
	outline: none;
}
select option{
	background-color: #FFF;
	color: #222;
}
input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="tel"], input[type="url"], input[type="file"], input[type="number"], input[type="time"], select{
	width: 100%;
    padding: 4px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: -2px;
	color: #FFF;
    border-radius: 3px 3px 0 0;
    font-size: 15px;
    border: 2px solid#6a1b9a;
    border-width: 0 0 2px 0;
    background-color: #ffffff47;
}
input[type="text"][disabled], input[type="password"][disabled], input[type="email"][disabled], input[type="date"][disabled], input[type="tel"][disabled], input[type="url"][disabled], input[type="file"][disabled], input[type="number"][disabled], input[type="time"][disabled]{
	background-image: url("lock.png");
    background-size: auto 19px;
    background-position: 8px 5px;
    background-repeat: no-repeat;
	font-weight: bold;
	color: #222;
	background-color: #ffffffb3;
    padding-left: 30px;
}
input::placeholder{
	color: #ffffffb8;
}
label{
	display: inline;
	font-size: 15px;
	border-radius: 0 0 3px 3px;
	color: #fff;
	text-align: center;
	background: #7b1fa2;
	padding: 1px 7px;
	cursor: pointer;
}
label.checkbox, label.radio{
	border-radius: 0 3px 3px 0;
}
label.hidden{
	display: none;
}
button:not(.custom), input[type='submit']{
	display: inline-block;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #56157E;
    text-align: center;
    padding: 5px 20px;
	text-transform: uppercase;
    margin-top: 10px;
    font-size: 15px;
    color: #FFF;
    background-color: #6a1b9a;
    font-weight: 600;
    border-radius: 5px;
    box-shadow: inset 0 -2px #56157E, inset 0 4px #7b1fa2;
    transition: all 0.1s linear;
    text-decoration: none;
    cursor: pointer;
}
button.inline, input[type='submit'].inline{
	display: inline-block;
	width: auto;
}
button:not(.custom):hover, input[type='submit']:hover{
	background-color: #7b1fa2;
	border-color: #6a1b9a;
    box-shadow: inset 0 -2px#6a1b9a, inset 0 4px #8e24aa;
}
button:not(.custom):active, input[type='submit']:active{
	background-color: #56157E;
	border-color: #451F5B;
    box-shadow: inset 0 -2px #451F5B, inset 0 4px #621890;
}
button:not(.custom).empty, input[type='submit'].empty{
	color: #555;
	background-color: #DDD;
	border-color: #BBB;
    box-shadow: inset 0 -2px #BBB, inset 0 4px #EEE;
}
button:not(.custom).empty:hover, input[type='submit'].empty:hover{
	background-color: #EEE;
	border-color: #CCC;
    box-shadow: inset 0 -2px #CCC, inset 0 4px #FFF;
}
button:not(.custom).empty:active, input[type='submit'].empty:active{
	background-color: #CCC;
	border-color: #AAA;
	box-shadow: inset 0 -2px #AAA, inset 0 4px #DDD;
}
div.checkbox, div.radio{
	position: relative;
	float: left;
	width: 19px;
	height: 18px;
	border: 2px solid#7b1fa2;
	border-radius: 3px 0 0 3px;
    background-color: #ffffff47;
	transition: background-color 0.1s linear;
}
div.radio{
	border-radius: 12px 0 0 12px;
	background-color: #7b1fa2;
	margin-right: -1px;
}
div.checkbox.checked{
	background-color: #6a1b9a;
}
div.checkbox.checked:before, div.checkbox.checked:after{
	position: absolute;
	top: 0;
	left: 7px;
	content: '';
	background-color: #FFF;
	width: 5px;
	height: 18px;
	border-radius: 3px;
}
div.checkbox.checked:after{
	transform: rotate(45deg);
}
div.checkbox.checked:before{
	transform: rotate(-45deg);
}
div.radio:before{
    position: absolute;
    top: 0;
    left: 0;
	content: '';
    background-color: #FFF;
    width: 18px;
    height: 18px;
    border-radius: 50%;
}
div.radio.checked:after{
    position: absolute;
    top: 4px;
    left: 4px;
	content: '';
    background-color: #7b1fa2;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}
div.privacybox{
	max-height: 100px;
	background-color: #FFF;
	color: #222;
	border-radius: 3px;
	padding: 10px;
	font-size: 10px;
	margin-bottom: 10px;
	overflow-y: auto;
}
div.main{
	text-align: center;
}
div.title{
	font-weight: bold;
}
div.italic{
	font-style: italic;
}
span.important{
	font-weight: bold;
}
a.fullbuttoncontainer{
	display: block;
	width: 100%;
	max-width: 700px;
	margin: auto;
	margin-bottom: 20px;
}
section#table table, section#table th, section#table td{
	border: 1px solid#6a1b9a;
	border-collapse: collapse;
}
section#table th, section#table td{
	padding: 5px 10px;
}
section#table table{
	width: 100%;
	margin-top: 20px;
}
section#table th{
	background-color: #ffffff7c;
	color: #222;
}
section#table table caption{
	margin-bottom: 10px;
	text-align: left;
	font-size: 20px;
}
section#table table tr:nth-child(even){
	background-color: #ffffff47;
}
div.infobox{
	display: inline-block;
	width: 100%;
	box-sizing: border-box;
	background-color: #ffffff47;
    color: #fff;
    border-radius: 3px;
    padding: 5px 10px;
	margin: 3px 0;
}
a div.infobox:hover{
	background-color: #ffffff78;
}
div.infobox button.remove{
	float: right;
    margin-left: 10px;
    margin-right: -5px;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 0 0 0 1px;
    background-color: #7b1ea1;
    border: 1px solid #fff;
    font-size: 14px;
    color: #FFF;
    line-height: 21px;
	cursor: pointer;
}
div.infobox footer{
	text-align: right;
	font-size: 12px;
}
table#admin caption, table#customer caption{
	display: none;
}
table#customer tr td:last-child, table#organizernotapproved tr td:last-child, table#organizerapproved tr td:last-child{
	padding: 0px 5px 10px 5px;
}
div.g-recaptcha, #rc-imageselect{
	-moz-transform: scale(0.77);
	-ms-transform: scale(0.77);
	-o-transform: scale(0.77);
	-moz-transform-origin: 0;
	-ms-transform-origin: 0;
	-o-transform-origin: 0;
	-webkit-transform: scale(0.77);
	transform: scale(0.77);
	-webkit-transform-origin: 0 0;
	transform-origin: 0;
	filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.77,M12=0,M21=0,M22=0.77,SizingMethod='auto expand');
}
/************************ HEADER ************************/
header#navbar{
	display: grid;
	position: relative;
	grid-template-columns: calc(50% - 80px) 160px calc(50% - 80px);
	padding: 5px;
	background-color: #6a1b9a;
	text-align: center;
    z-index: 1;
}
header#navbar.cart{
	grid-template-columns: calc(50% - 80px) 160px calc(50% - 125px) 45px;
}
header#navbar button.menu{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	line-height: 0.6;
	text-align: center;
	cursor: pointer;
	z-index: 3;
}
header#navbar button.menu div{
	display: inline-block;
	position: relative;
	height: 3px;
	width: 21px;
	border-radius: 2px;
	background-color: #FFF;
	vertical-align: middle;
	transition: height 0.1s linear;
}
header#navbar button.menu div:before, header#navbar button.menu div:after{
	display: inherit;
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	height: 3px;
	border-radius: inherit;
	background-color: inherit;
	transition: top 0.1s linear, transform 0.1s linear;
}
header#navbar button.menu div:before{
	top: -7px;
}
header#navbar button.menu:hover div:before{
	top: -9px;
}
header#navbar button.menu div:after{
	top: 7px;
}
header#navbar button.menu:hover div:after{
	top: 9px;
}
header#navbar a#logo{
	margin: 0 auto;
}
header#navbar a#logo img{
	display: block;
	height: 30px;
	margin: 5px 0;
}
@media only screen and (min-width: 350px){
	header#navbar a#logo img{
		height: 40px;
		margin: 0;
	}
}
header#navbar div.userinfo{
	display: none;
	line-height: 40px;
	text-align: right;
}
header#navbar button.account{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background-image: url("account_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 3;
}
header#navbar button.cart{
	display: block;
	float: right;
	width: 40px;
	height: 40px;
	background-image: url("cart_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	margin-left: 5px;
	border: 0;
	background-color: transparent;
	cursor: pointer;
	z-index: 3;
}
header#navbar button div.badge{
	background-color: #56157E;
    margin-top: 26px;
    color: #fff;
    font-weight: bold;
    border-radius: 10px;
    border: 1px solid;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	header#navbar div.userinfo{
		display: block;
	}
}
/************************ MENU ************************/
div#menucontainer{
	border-radius: 50%;
	width: 0px;
	height: 0px;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #222;
	overflow: hidden;
	transition:
		width 700ms cubic-bezier(0, 0.2, 0.99, 1),
		height 700ms cubic-bezier(0, 0.2, 0.99, 1),
		top 700ms cubic-bezier(0, 0.2, 0.99, 1),
		left 700ms cubic-bezier(0, 0.2, 0.99, 1);
	z-index: 10000;
}
div#menucontainer.visible{
	top: calc(var(--data-radius) * -0.5);
	left: calc(var(--data-radius) * -0.5);
	width: calc(var(--data-radius) * 2);
	height: calc(var(--data-radius) * 2);
}
div#menucontainer nav#menu{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	color: #FFF;
	width: 100vw;
	height: 100vh;
	overflow: auto;
}
div#menucontainer nav#menu header{
	display: grid;
	grid-template-columns: 50px auto 50px;
	width: 100%;
	height: 60px;
	padding: 5px;
	font-size: 15px;
	line-height: 50px;
    font-size: 30px;
	box-sizing: border-box;
	text-align: center;
    z-index: 1;
}
div#menucontainer nav#menu header button.close{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	border: none;
	border-radius: 50%;
	padding: 0;
	background-color: transparent;
	line-height: 0.6;
	text-align: center;
	cursor: pointer;
	z-index: 3;
}
div#menucontainer nav#menu header button.close div{
	display: inline-block;
	position: relative;
	height: 0;
	width: 21px;
	border-radius: 2px;
	background-color: #FFF;
	vertical-align: middle;
	transition: height 0.1s linear;
}
div#menucontainer nav#menu header button.close div:before, div#menucontainer nav#menu header button.close div:after{
	display: inherit;
	position: absolute;
	left: 0;
	width: 100%;
	content: "";
	height: 3px;
	border-radius: inherit;
	background-color: inherit;
	transition: top 0.1s linear, transform 0.1s linear;
}
div#menucontainer nav#menu header button.close div:before{
	top: -2px;
	transform: rotate(45deg);
}
div#menucontainer nav#menu header button.close div:after{
	top: -2px;
	transform: rotate(-45deg);
}
div#menucontainer nav#menu ul{
	padding: 0;
}
div#menucontainer nav#menu ul li{
	list-style: none;
	border-bottom: 2px solid #4a2363;
	background-color: #341b44;
	font-size: 20px;
	text-transform: uppercase;
	line-height: 30px;
	text-align: center;
	transition: background-color 0.1s linear;
}
div#menucontainer nav#menu ul li:first-child{
	border-top: 2px solid #4a2363;
}
div#menucontainer nav#menu ul li a{
	display: block;
	padding: 5px 15px;
	text-decoration: none;
}
div#menucontainer nav#menu ul li:hover{
	background-color: #6a1b9a;
}
div#menucontainer nav#menu ul li:hover a{
	text-decoration: underline;
}
/************************ CONTENT ************************/
main{
	padding: 20px 20px 60px 20px;
}
main div.loading{
	width: 70px;
	height: 70px;
	margin: 20px auto;
	background-image: url("loading.svg");
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
}
section{
	width: 100%;
	max-width: 700px;
	margin: 0 auto;
	background-color: #6a1b9a3b;
	border-radius: 10px;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 2px 10px #000;
}
section.min{
	max-width: 300px;
}
section.margintop{
	margin-top: 20px;
}
iframe[name='hidden-iframe']{
	display: none;
}
div.imagecontainer img{
	width: 100%;
	border-radius: 5px;
}
div.cards{
	display: block;
    width: 108%;
    max-width: 108%;
    margin: 0 -4%;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.cards{
		width: 100%;
		margin: 0;
	}
}
article.card{
	display: block;
    width: calc(50% - 1px);
    padding: 0 1.25% 10px 1.25%;
    box-sizing: border-box;
}
article.card img{
	display: block;
	width: 100%;
	border-radius: 10px 10px 0 0;
}
article.card div.info{
	width: 100%;
	border-radius: 0 0 10px 10px;
	background-color: #FFF;
	color: #222;
	padding: 10px;
	box-sizing: border-box;
}
article.card div.info header h1{
	font-size: 13px;
	text-align: left;
	margin: 0;
}
article.card div.info header h2{
	font-size: 11px;
	text-align: left;
	margin: 0;
}
article.card div.info p{
	font-size: 12px;
	margin: 5px 0;
}
article.card div.info footer{
	font-size: 10px;
}
div.searchbox{
	display: grid;
	grid-template-columns: auto 40px;
	margin-bottom: 15px;
}
div.slider{
    position: relative;
	width: 100%;
	height: 250px;
	word-break: break-word;
    overflow: hidden;
}
div.slider.slideshow{
	width: calc(100% + 40px);
	height: 51vw;
    margin-left: -20px;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.slider.slideshow{
		height: 392px;
	}
}
div.slider ul{
	position: relative;
    display: flex;
    width: 100%;
    height: 100%;
	margin: 0;
	padding: 0;
	box-sizing: content-box;
	transform: translate3d(0, 0, 0);
	transition-property: transform;
    list-style: none;
}
div.slider ul .swiper-slide{
	display: block;
	width: 100%;
	flex-shrink: 0;
	background-size: cover;
	background-position: center;
	overflow: hidden;
}
div.slider ul .swiper-slide.labeled, div.slider ul .swiper-slide .labeled{
	position: relative;
	display: block;
	color: inherit;
}
div.slider ul .swiper-slide.labeled span, div.slider ul .swiper-slide .labeled span{
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	font-size: 30px;
	text-align: center;
	font-weight: bold;
	font-family: Spartan;
	text-shadow: 0 0 4px rgba(0,0,0,0.5);
	vertical-align: bottom;
	padding-bottom: 5%;
	color: inherit;
	background-color: #0000004d;
    box-shadow: 0 0 35px #0009;
}
div.slider ul li{
    height: 100%;
    position: relative;
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	transform: translate3d(0, 0, 0);
    transition-property: transform;
}
div.slider:not(.slideshow) ul li{
	border-radius: 5px;
	overflow: hidden;
	font-weight: bold;
}
div.slider ul li div.shadow{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0 -150px 75px rgba(0, 0, 0, 0.5);
}
div.slider.slideshow ul li div.shadow{
    box-shadow: inset 0 -150px 350px rgba(0, 0, 0, 0.5);
}
div.slider ul li div.info{
	position: absolute;
    bottom: 10px;
	width: 100%;
    text-align: center;
    font-size: 13px;
	padding: 0 5px;
	box-sizing: border-box;
	text-shadow: 0 0 3px #000, 0 0 3px #000, 0 0 3px #000, 0 0 3px #000;
}
div.slider.slideshow ul li div.info{
    bottom: 0;
    left: calc(10% + 20px);
    width: calc(80% - 40px);
    padding-bottom: 20px;
	font-size: 3.5vw;
	text-shadow: 0 0 10px #000;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.slider.slideshow ul li div.info{
		font-size: 27px;
	}
}
div.slider.slideshow ul li div.info div.name{
	font-weight: bold;
	font-size: 5.5vw;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.slider.slideshow ul li div.info div.name{
		font-size: 42px;
	}
}
div.slider div.pagination{
	position: absolute;
	bottom: 3px;
    left: 0;
    width: 100%;
    text-align: center;
	transition: opacity 0.3s linear;
    transform: translate3d(0, 0, 0);
}
div.slider:not(.slideshow) div.pagination{
	display: none;
}
div.slider div.pagination span.swiper-pagination-bullet{
	display: inline-block;
	width: 7px;
    height: 7px;
    border-radius: 50%;
	margin: 0 1vw;
    background-color: #FFF;
    opacity: 0.4;
	transition: opacity 0.3s linear;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.slider div.pagination span.swiper-pagination-bullet{
		width: 10px;
		height: 10px;
	}
}
div.slider div.pagination span.swiper-pagination-bullet:hover, div.slider div.pagination span.swiper-pagination-bullet.swiper-pagination-bullet-active{
	opacity: 1;
}
div.slider.swiper-container-horizontal div.pagination div.swiper-pagination-bullet{
	margin: 0 4px;
}
div.slider button{
	display: none;
	position: absolute;
	top: 0;
	content: '';
	width: 10%;
	height: 100%;
	margin-top: 0;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.6;
	transition: opacity 0.1s linear;
}
div.slider button:hover{
	opacity: 1;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.slider button{
		display: block;
	}
}
div.slider button.swiper-button-disabled{
	display: none;
}
div.slider button.left{
	left: 10px;
	background-image: url("arrow_left.png");
}
div.slider button.right{
	right: 10px;
	background-image: url("arrow_right.png");
}
div.searchbox input[type='text']{
	width: calc(100% - 5px);
}
div.searchbox input[type='submit']{
	width: 40px;
	height: 32px;
    margin-bottom: -2px;
	background-image: url("search_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
}
fieldset{
	text-align: center;
	border:none;
}
fieldset div.filter{
	display: inline-block;
	margin: 5px;
}
fieldset legend{
	display: none;
}
section#infosection h2{
	text-align: left;
}
section#infosection a img{
	margin: 5px;
	height: 50px;
}
div.calendar{
	display: none;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	div.calendar{
		display: block;
	}
	div.mobilecalendar{
		display: none;
	}
}
div.calendar table{
	width: 100%;
	height: 0;
}
div.calendar table tr{
	height: 0;
}
div.calendar table tr.header{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}
div.calendar table tr:not(.header) td div.day{
	min-height: 100px;
	height: 100%;
	background-color: rgba(255,255,255,0.2);
	padding: 10px;
	box-sizing: border-box;
	text-align: center;
	font-weight: bold;
}
div.calendar table tr:not(.header) td div.day button{
	font-size: 11px;
	line-height: 1;
	margin-top: 5px;
	text-transform: none;
}
div.calendar table td{
	width: 14.29%;
}
div.mobilecalendar table{
	width: 100%;
	text-align: center;
	font-size: 18px;
	line-height: 40px;
}
div.mobilecalendar table button{
	margin-top: 0;
}
div.mobilecalendar div.day{
	text-align: center;
	background-color: rgba(255,255,255,0.2);
	border-radius: 5px;
	padding: 5px;
	margin-top: 10px;
	font-weight: bold;
	font-size: 20px;
	box-sizing: border-box;
}

/************************ ALERT ************************/
div#alertcontainer{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	padding: 60px 0;
	background-color: #00000080;
	box-sizing: border-box;
}
div#alertcontainer section{
	position: relative;
	top: -100vh;
	width: 400px;
    max-width: 90%;
    max-height: 100%;
    margin: 0 auto;
	color: #333;
    background-color: #FFF;
    border-radius: 3px;
    padding: 20px 30px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    overflow: auto;
	transition: top 0.3s ease-out;
}
div#alertcontainer section.visible{
	top: 0;
}
div#alertcontainer section h1{
	font-size: 25px;
    margin-bottom: 15px;
	font-weight: normal;
    line-height: 1.2;
}
div#alertcontainer section p{
	font-size: 17px;
    line-height: 20px;
    margin: 0 0 10px 0;
}
div#alertcontainer section p div.loading{
	background-image: url("loading.svg");
	width: 100px;
	height: 100px;
	background-size: contain;
	margin: 5px auto;
}
div#alertcontainer section button{
	float: right;
	width: initial;
	font-weight: initial;
	margin: 10px 0 0 10px;
    padding: 0 10px;
	border: 0;
    border-radius: 5px;
    color: #6a1b9a;
	background-color: #FFF;
	font-size: 16px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
	box-shadow: inset 0 0 0 2px#6a1b9a;
    cursor: pointer;
    transition: all 0.1s linear;
}
div#alertcontainer section button[name='ok']{
	color: #FFF;
	background-color: #6a1b9a;
}
div#alertcontainer section button[name='ok']:hover{
	background-color: #7b1fa2;
	box-shadow: inset 0 0 0 2px #7b1fa2;
}
div#alertcontainer section button[name='cancel']:hover{
	color: #7b1fa2;
	box-shadow: inset 0 0 0 2px #7b1fa2;
}
div#alertcontainer section button[name='ok']:active{
	background-color: #56157E;
	box-shadow: inset 0 0 0 2px #56157E;
}
div#alertcontainer section button[name='cancel']:active{
	color: #56157E;
	box-shadow: inset 0 0 0 2px #56157E;
}
div#alertcontainer section input[type='text']{
	background-color: rgba(0,0,0,0.1);
	color: #222;
	margin-bottom: 0;
}

/************************ FOOTER ************************/
footer#rights{
	display: grid;
	grid-template-columns: 45px auto 35px 35px;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 50px;
	padding: 5px;
	font-size: 11px;
	color: #FFFFFF;
	background-color: #6a1b9a;
	box-sizing: border-box;
}
@media only screen and (min-width: 768px){ /* DESKTOP */
	footer#rights{
		text-align: center;
		grid-template-columns: 70px auto 35px 35px;
	}
}
footer#rights img{
	display: block;
}
footer#rights img.logo{
	height: 40px;
}
footer#rights p{
	margin: 0;
	line-height: 20px;
}
footer#rights div.spacer{
	height: 5px;
}
footer#rights img.social{
	margin: 5px 0 5px 5px;
	height: 30px;
}

/************************ CUSTOM PAGES STYLES ************************/
section#header_calendar{
	display: grid;
	position: relative;
	grid-template-columns: 40px auto 40px;
	padding: 5px 20px;
	z-index:1;
}
section#header_calendar button.prev_icon{
	display: inline-block;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url("prev_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	cursor: pointer;
	z-index: 3;
}
section#header_calendar h2{
	text-align: center;
	font-size: 25px;
	font-weight: 550;
	line-height: 1;
	margin: 12px 0;
	z-index: 3;
}
section#header_calendar button.after_icon{
	float: right;
	position: relative;
	width: 40px;
	height: 40px;
	background-image: url("after_icon.png");
	background-size: 30px auto;
	background-position: center;
	background-repeat: no-repeat;
	border: 0;
	cursor: pointer;
	z-index: 3;
}

section#eventsection img{
	width: 100%;
	margin-bottom: 15px;
	border-radius: 5px;
}
section#eventsection h1{
	font-size: 20px;
	font-weight: bold;
}
section#eventsection table{
	border-collapse: collapse;
	width: 100%;
	font-size: 15px;
}
section#eventsection tr{
	border-bottom: 2px solid #ffffff63;
}
section#eventsection td{
	width: 60%;
	padding-left: 15px;
}
section#eventsection th{
	padding: 4px 0;
	text-align: left;
}
section#eventsection h2{
	text-align: left;
	font-size: 18px;
}
section#eventsection p{
	font-size: 14px;
	margin: 10px 0 0 0;
}
