<style>
div{
	width: 90%;
	margin: 10px 5%;
	height: 50px;
	line-height: 50px;
	font-family: sans-serif;
	text-align: center;
	color: #222;
	font-size: 25px;
	border-radius: 10px;
}
body{
	background: #222;
}
</style>
<div style="background-color: #a9310c">#a9310c</div> #4a148c
<div style="background-color: #d84315">#d84315</div> #56157E
<div style="background-color: #ea540d">#ea540d</div> 621890
<div style="background-color: #ff6600">#ff6600</div> #6a1b9a
<div style="background-color: #472e21">#f60</div>       #6a1b9a

<div style="background-color: #ff8700">#ff8700</div>#7b1fa2
<div style="background-color: #ff9900">#ff9900</div>8e24aa
<div style="background-color: #ffac00">#ffac00</div>
<div style="background-color: #ffba00">#ffba00</div>
<div style="background-color: #ffc41f">#ffc41f</div>
<div style="background-color: #ffd04a">#ffd04a</div>
<div style="background-color: #ffdc7e">#ffdc7e</div>
<div style="background-color: #ffeab1">#ffeab1</div>
<div style="background-color: #fff7e0">#fff7e0</div>

<div style="background-color: #f3e5f5">f3e5f5</div>
<div style="background-color: #e1bee7">e1bee7</div>
<div style="background-color: #ce93d8">ce93d8</div>
<div style="background-color: #ba68c8">ba68c8</div>
<div style="background-color: #ab47bc">ab47bc</div>
<div style="background-color: #9c27b0">9c27b0</div>
<div style="background-color: #8e24aa">8e24aa</div>
<div style="background-color: #7b1fa2">7b1fa2</div>
<div style="background-color: #6a1b9a">QUESTO - 6a1b9a</div>
<div style="background-color: #621890"></div>
<div style="background-color: #5F188C"></div>
<div style="background-color: #56157E">#56157E</div>
<div style="background-color: #4a2363"></div>
<div style="background-color: #451F5B"></div>
<div style="background-color: #4a148c">4a148c</div>
<div style="background-color: #ea80fc">ea80fc</div>
<div style="background-color: #e040fb">e040fb</div>
<div style="background-color: #d500f9">d500f9</div>
<div style="background-color: #aa00ff">aa00ff</div>
